#navbar {
    flex-direction: column;
}

#navbar .logo {
    text-align: center;
}

#navbar .logo img {
    width: 9vw;
    height: 7vh;
}

#navbar ul li {
    margin: 0px;
}

#navbar ul li a {
    padding: 1px 2px;
    margin: 3px;
}

main #service .things {
    flex-direction: column;
}

main #service .things .logo {
   display: block;
   margin: auto;
}
main #service .things .logo img {
    height: 14vh;
    width: 15vw;
}
main #service .things .things_intro {
    margin:  auto 18px;
}
main #qualification .skills img {
    width: 10vw;
    height: 12vh;
    margin: 8px 1rem;
}
footer #socialmedialogo ul li {
    margin: 0px 7px;
}
footer #socialmedialogo ul li a {
    padding: 0px;
}