


#navbar .logo img {
    width: 8vw;
    height: 9vh;
    margin-left: 1rem;
}
#navbar ul li {
    margin: 3px 0px;
}

main #qualification .skills img {
    margin: 8px 1rem;
}
footer div {
    flex-direction: column;
}

footer div address p {
    text-align: center;
}
footer #socialmedialogo ul li {
    margin: 0px 1rem;
}
footer #socialmedialogo ul li a {
    padding: 0px;
}